


/* header */
/* Style the header: fixed position (always stay at the top) */
#header {
    position: fixed;
    top: 5vh;
    z-index: 1;
    height: 95vh;
    width: min-content;
}

#header > nav > ol {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    margin-block: 0;
}

#header > nav > ol > li {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#header > nav > ol > li:last-child {
   height: min-content;
}

.progress-container {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    height: 100%;;
}

.progress-bar {
    background: #000;
    width: 2px;
}

.marker-container {
    display: flex;
    align-items: center;
    height: min-content;
    transition-duration: 1s;
    border-radius: 200px;
    padding: 10px;
    position: relative;
}

.progress-marker {
    border-radius: 50px;
    transition-duration: .25s;
    border: 1px solid #000;
    width: 10px;
    height: 10px;
    text-align: center;
    font-size: 8px;
}

.marker-label {
    opacity: 0;
    transform: translateX(-20px);
    z-index: -1;
    margin-block: 0;
    transition-duration: .25s;
    position: absolute;
    
}

.progress-marker.active {
    background: #000;
    animation-name: scaleAnimation;
    border-radius:50%;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

.progress-marker.inactive {
    background: #FFF;
}

.marker-container:hover .progress-marker {
    transform: scale(1.5);
}

.marker-container:hover .marker-label {
    opacity: 1;
    transform: translateX(20px);
}



/* animations */
@keyframes scaleAnimation {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 #0006;
    }
    20% {
        transform: scale(1.5);
    }
    50% {
        transform: scale(1);
    }
    100% {
        box-shadow: 0 0 10px 15px #0000;
    }
}
